html{
    background-color: rgb(0, 196, 29);
}
body{
    background-color: white;
    width: 1020px;
    margin: 0 auto;
}
h1{
    text-align: center;
    text-decoration: underline;
}
form{
    width: 150px;
    margin: 0 auto;
}
div{
    font-size: 20px
}
datalist{
    font-size: 20px
}
td{
    font-size: 20px;
    width: 100px;
    border: solid 1px;
}
#logo{
    display: block;
    margin: 0 auto;
    border: solid 2px;
}
table{
    margin: 0 auto;
}
label{
    font-size: 20px;
}
